<div class="content">

<h3>Welcome to Tacoway, the only way to eat Tacos!</h3> 

<form class="form" action="/" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  
    <input type="submit" name="" value="Build my Taco">
</form>

</div>
