body {
  background-image: url(./tacobackground.jpg) ;
  background-position:50% 50%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 30px;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  text-align: center;
}

h1 {
  color: black;
  font-family: ;
}

#container {
  background-color: rgba(0, 0, 0, 0.641);
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
